<div class="jumbotron">
  <h1 class="display-3">Eligibility for Vehicle Registration</h1>
  <p class="lead">The Department of Motor Vehicles (DMV) for the State of New York seeks to develop a robust system to validate the criteria to permit a legal vehicle registration at the DMV office.</p>
  <hr class="my-4">
  <p>To determine if the owner is legally permitted to register the vehicle in question, this system perfoms several checks. Also this system will check if the vehicle currently holds an existing registration by verifying it against the existing vehicle database..</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" routerLink="/owner" role="button">Begin</a>
  </p>
</div>